.about-us-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.about-us-buttons .button {
  width: 150px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-us-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.contact-us-buttons .button {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 1.2em;
}

#profile-container.contact {
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
}

#profile-photo {
  height: 120px;
  width: 120px;
  border: 2px solid gray;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.social-links-img {
  width: 30px;
  height: 30px;
  border-radius: 15%;
  position: absolute;
  left: 10px;
}
