django==4.2.13
gunicorn>=22,<23
dj-database-url>=2,<3
whitenoise[brotli]>=6,<7
requests==2.28.1
pdf2image==1.17.0
django-redis==5.4.0
python-decouple==3.8
psycopg2-binary==2.9.9
django-distill==3.2.4
social-auth-app-django==5.4.1
pdfminer.six==20240706
openai==1.37.1
catalogue<2.1.0,>=2.0.6
cymem<2.1.0,>=2.0.2
jinja2
langcodes<4.0.0,>=3.2.0
murmurhash<1.1.0,>=0.28.0
numpy>=1.19.0
preshed<3.1.0,>=3.0.2
blis<0.8.0,>=0.7.8
confection<1.0.0,>=0.0.1
click>=7.0
cloudpathlib<1.0.0,>=0.7.0
confection<0.2.0,>=0.0.4
django-heroku==0.3.1