{% extends 'base.html' %} {% load static %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'chat/js/script.js' %}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block title %}Your Projects{% endblock %}

{% block content %}
<div id="profile-header">
  <a href="https://github.com/{{ profile.user }}" target="_blank">
    <div id="profile-container">
      <img
        src="{{ profile.profile_img_url }}"
        alt="GitHub Profile"
        id="github-avatar"
        class="public-profile"
      />
    </div>
  </a>
  {% block header %}
  <h1>Your GitHub Projects</h1>
  {% endblock %}
</div>
<div class="body">
  {% block buttons %} {% endblock %}
  <div class="public-buttons">{% block buttonLinks %} {% endblock %}</div>
  <div class="content-container">
    <div class="container">
      {% include 'githubDisplay/component_projects.html' %}
    </div>
  </div>
  {% include 'chat/component_chat_projects.html' %}
</div>
{% endblock %}
