{% extends 'base.html' %} {% load static %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'githubDisplay/css/resume.css' %}" />
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}" />
<link rel="stylesheet" href="{% static 'chat/css/resume.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'chat/js/script.js' %}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block title %}Your Resume{% endblock %}

{% block content %}
<div id="profile-header">
  <a href="https://github.com/{{ profile.user }}" target="_blank">
    <div id="profile-container">
      <img
        src="{{ profile.profile_img_url }}"
        alt="GitHub Profile"
        id="github-avatar"
        class="public-profile"
      />
    </div>
  </a>
  {% block header %}
    <h1>Your Resume</h1>
  {% endblock %}
  <div class="body">
    <div class="resume-content-container">
      {% include 'chat/component_resume.html' %}
      {% include 'chat/component_chat_resume.html' %}
    </div>
  </div>
    {% endblock %}
  </div>
</div>
