{% extends 'base.html' %} {% load static language_filter %} {% block extra_css%}
<link rel="stylesheet" href="{% static 'githubDisplay/css/projects.css' %}" />
{% endblock %} {% block title %}Your Projects{% endblock %} {% block content %}
<div id="profile-header">
  <a href="https://github.com/{{ profile.user }}" target="_blank">
    <div id="profile-container">
      <img
        src="{{ profile.profile_img_url }}"
        alt="GitHub Profile"
        id="github-avatar"
        class="public-profile"
      />
    </div>
  </a>
  {% block header %}
  <h1>Your GitHub Projects</h1>
  {% endblock %}
</div>
<div class="body">
  <div class="container">
    {% block buttons %} {% endblock %} {% block chatButton %} {% endblock %}
    <!-- prettier-ignore -->
    {% include 'githubDisplay/component_projects.html' %}
  </div>
</div>
{% endblock %}
