{% extends 'base.html' %} {% load static %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'githubDisplay/css/home.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="logo-container">
    <img
      class="logo"
      src="{% static 'images/Portfoliolify.png' %}"
      alt="Portfoliolify"
    />
  </div>
  {% if user.is_authenticated %}
  <div class="sync-projects-description">
    No projects found. Click below to sync!
  </div>
  <button
    class="button"
    id="sync-button"
    onclick="window.location.href='{% url 'sync_projects' %}'"
  >
    Sync Projects with GitHub
  </button>
  {% else %}
  <div class="not-logged-in">
    Please login with GitHub at the top right corner to start Portfoliolifying!
  </div>
</div>
{% endif %} {% endblock %}
