{% extends 'githubDisplay/base_projects.html' %}
<!-- prettier-ignore -->
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'githubDisplay/css/projects.css' %}" />
{% endblock %} {% block buttons %}
<div class="project-buttons">
  <a href="{% url 'select_projects' %}">
    <button class="button edit-button">Edit</button>
  </a>
  <a href="{% url 'sync_projects' %}">
    <button class="button sync-button">Sync</button>
  </a>
  <a href="{% url 'public_projects' profile.user %}">
    <button class="button view-button">View</button>
  </a>
  <a href="{% url 'user_resume' %}">
    <button class="button resume-link">Resume</button>
  </a>
  <a href="{% url 'user_projects_chat' %}">
    <button class="button chat-button">AI Assistant</button>
  </a>
</div>
{% endblock %}
