{% extends 'base.html' %} {% load static %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'githubDisplay/css/projects.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block title %}Your Projects{% endblock %}

{% block content %}
<div class="container">
  <h1>GitHub Projects</h1>
  <a href="{% url 'select_projects' %}" class="button edit-button">Edit</a>
  <a href="{% url 'sync_projects' %}" class="button sync-button">Sync</a>
  {% if projects %}
  <div id="projects-wrapper">
    <div id="projects-container">
      {% for project in projects %}
      <div class="project">
        <a href="{{ project.html_url }}" target="_blank"
          ><h2>{{ project.name }}</h2></a
        >
        <div id="project-description">{{ project.description }}</div>
        <img
          src="{{ project.img_url }}"
          alt="Project Image"
          id="project-image"
        />
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div id="no-projects-container">
    <div class="logo-container">
      <img
        class="logo"
        src="{% static 'images/Portfoliolify.png' %}"
        alt="Portfoliolify"
      />
    </div>
    {% if query %}
    <div class="no-projects">
      No projects found. Try checking your search parameters!
    </div>
    {% else %}
    <div class="no-projects">
      No projects found, check your selections or start making some then click
      the button below to update!
    </div>
    <button
      class="button"
      id="sync-button"
      onclick="window.location.href='{% url 'sync_projects' %}'"
    >
      Sync Projects with GitHub
    </button>
    {% endif %}
  </div>
  {% endif %}
</div>

{% endblock %}
