{% extends 'base.html' %} {% load static %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'githubDisplay/css/projects.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block title %}Your Projects{% endblock %}

{% block content %}
<div class="container">
  <h1>GitHub Projects</h1>
  {% if projects %}
  <div class="project-buttons">
    <button
      class="button edit-button"
      onclick="window.location.href='{% url 'select_projects' %}'"
    >
      Edit
    </button>
    <button
      class="button sync-button"
      onclick="window.location.href='{% url 'sync_projects' %}'"
    >
      Sync
    </button>
  </div>
  <div id="projects-wrapper">
    <div id="projects-container">
      {% for project in projects %}
      <div class="project">
        <a href="{{ project.html_url }}" target="_blank"
          ><h2>{{ project.name }}</h2></a
        >
        <div id="project-description">{{ project.description }}</div>
        <img
          src="{{ project.img_url }}"
          alt="Project Image"
          id="project-image"
        />
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div id="no-projects-container">
    <div class="logo-container">
      <img
        class="logo"
        src="{% static 'images/Portfoliolify.png' %}"
        alt="Portfoliolify"
      />
    </div>
    {% if has_synced %}
    <div class="no-projects">
      No projects found. Try checking your search parameters, changing selection
      or syncing more projects!
    </div>
    <div class="project-buttons">
      <button
        class="button edit-button"
        onclick="window.location.href='{% url 'select_projects' %}'"
      >
        Edit
      </button>
      <button
        class="button sync-button"
        onclick="window.location.href='{% url 'sync_projects' %}'"
      >
        Sync
      </button>
    </div>
    {% else %}
    <div class="no-projects">
      No projects found, start making some then click the button below to
      update!
    </div>
    <button
      class="button sync-button"
      onclick="window.location.href='{% url 'sync_projects' %}'"
    >
      Sync Projects with GitHub
    </button>
    {% endif %}
  </div>
  {% endif %}
</div>

{% endblock %}
