{% extends 'githubDisplay/base_projects.html' %}
<!-- prettier-ignore -->
{% load static language_colors %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'githubDisplay/css/projects.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'githubDisplay/css/publicProjects.css' %}"
/>
{% endblock %}

<!-- prettier-ignore -->
{% block title %}{{ profile.user }}'s Projects{% endblock %}

{% block header %}
<h1>{{ profile.user }}'s Projects</h1>
{% endblock %} {% block chatButton %}
<div class="public-buttons">
  <a href="{% url 'public_resume' profile.user %}">
    <button class="button resume-link">Resume</button>
  </a>
  <a href="{% url 'public_projects_chat' profile.user %}">
    <button class="button chat-link">AI Assistant</button>
  </a>
</div>
{% endblock %}
