{% extends 'base.html' %} {% load static language_colors %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'githubDisplay/css/projects.css' %}" />
<link rel="stylesheet" href="{% static 'githubDisplay/css/resume.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'githubDisplay/js/resume.js' %}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block title %}Your Resume{% endblock %}

{% block content %}
<div id="profile-header">
  <a href="https://github.com/{{ profile.user }}" target="_blank">
    <div id="profile-container">
      <img
        src="{{ profile.profile_img_url }}"
        alt="GitHub Profile"
        id="github-avatar"
        class="public-profile"
      />
    </div>
  </a>
  {% block header %}
  <h1>Your Resume</h1>
  {% endblock %}
  <div class="body">
    <div class="container">
      {% if resume %}
      <div id="resume-summary">
        <h2>Personal</h2>
        <p><strong>Name</strong>: {{ resume.personal.name }}</p>
        <p>
          <strong>Email:</strong>
          <a href="mailto:{{ resume.personal.email }}"
            >{{ resume.personal.email }}</a
          >
        </p>
        <p>
          <strong>LinkedIn:</strong>
          <a href="{{ resume.personal.linkedin }}" target="_blank"
            >{{ resume.personal.linkedin }}</a
          >
        </p>

        <h2>Summary</h2>
        <p>{{ resume.summary }}</p>

        <h2>Education</h2>
        <p>{{ resume.education }}</p>

        <h2>Skills</h2>
        <p>{{ resume.skills.summary }}</p>
        <p>{{ resume.skills.list }}</p>

        <h2>Experience</h2>
        <ul>
          {% for job in resume.experience %}
          <li><strong>{{ job.title }}</strong>: {{ job.summary }}</li>
          {% endfor %}
        </ul>

        <h2>Projects</h2>
        <ul>
          {% for project in resume.projects %}
          <li><strong>{{ project.title }}</strong>: {{ project.summary }}</li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      <div class="no-resume">
        <h1>Upload Your Resume</h1>
        <form
          id="resume-form"
          action="{% url 'upload_resume' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="form-group">
            <label for="resume">Choose your resume:</label>
            <input
              type="file"
              id="resume"
              name="resume"
              accept=".pdf,.doc,.docx"
              required
            />
            <label for="resume" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Select File
            </label>
            <span id="file-selected">No file selected</span>
          </div>
          <button type="submit" class="button">Upload</button>
        </form>
      </div>

      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>
