{% extends 'base.html' %} {% load static language_colors %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'chat/js/script.js' %}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block title %}Your Projects{% endblock %}

{% block content %}
<div id="profile-header">
  <a href="https://github.com/{{ profile.user }}" target="_blank">
    <div id="profile-container">
      <img
        src="{{ profile.profile_img_url }}"
        alt="GitHub Profile"
        id="github-avatar"
        class="public-profile"
      />
    </div>
  </a>
  {% block header %}
  <h1>Your GitHub Projects</h1>
  {% endblock %}
</div>
<div class="body">
  {% block buttons %} {% endblock %}
  <div class="public-buttons">{% block buttonLinks %} {% endblock %}</div>
  <div class="content-container">
    <div class="container">
      {% if projects %}
      <div id="projects-wrapper">
        <div id="projects-container">
          {% for project in projects %}
          <div class="project">
            <a href="{{ project.html_url }}" target="_blank"
              ><h2>{{ project.name }}</h2></a
            >
            <div id="project-description">{{ project.description }}</div>
            <!-- prettier-ignore -->
            {% if project.languages|length > 0 %}
            <div id="project-languages">
              <div class="language-header">Languages</div>
              <div class="language-bar">
                {% for language, percentage in project.languages.items %}
                <div
                  class="language"
                  style="width: {{ percentage }}%; background-color: {{ language|language_color }};"
                ></div>
                {% endfor %}
              </div>
              <ul class="language-list">
                {% for language, percentage in project.languages.items %}
                <li>
                  <span
                    class="language-color"
                    style="background-color: {{ language|language_color }};"
                  ></span>
                  <span class="language-percentage-tag"> {{ language }}</span>
                  {{ percentage|floatformat:1 }}%
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <img
              src="{{ project.img_url }}"
              alt="Project Image"
              id="project-image"
            />
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div id="no-projects-container">
          <div class="logo-container">
            <img
              class="logo"
              src="{% static 'images/Portfoliolify.png' %}"
              alt="Portfoliolify"
            />
          </div>
          {% if has_synced %}
          <div class="no-projects">
            No projects found. Try checking your search parameters, changing
            selection or syncing more projects!
          </div>
          <div class="project-buttons">
            <a href="{% url 'select_projects' %}">
              <button class="button edit-button">Edit</button>
            </a>
            <a href="{% url 'sync_projects' %}">
              <button class="button sync-button">Sync</button>
            </a>
          </div>
          {% else %}
          <div class="no-projects">
            No projects found, start making some then click the button below to
            update!
          </div>
          <a href="{% url 'sync_projects' %}">
            <button class="button sync-button">
              Sync Projects with GitHub
            </button>
          </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="chat-box-spacer">
      <div class="chat-box private">
        <div class="chat-header">Chat</div>
        <div class="messages" id="messages">
          <div class="text-messages">
            <strong>ChatGPT:</strong>
            {{ context_reply }}
          </div>
        </div>
        <div class="input-box">
          <textarea
            type="text"
            id="user-input"
            placeholder="Message PortfolioGPT"
          ></textarea>
          <input type="hidden" id="username" value="{{ profile.user }}" />

          <button onclick="sendMessage()">
            <img
              id="input-button"
              src="{% static 'chat/images/send_button.png' %}"
              alt="Send"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
