{% load static %}
<div class="chat-box-spacer">
  <div class="chat-box private">
    <div class="chat-header">Chat</div>
    <div class="messages" id="messages">
      <div class="text-messages">
        <strong>PortfoliolifyH:</strong>
        {{ context_reply }}
      </div>
    </div>
    <div class="input-box">
      <textarea
        type="text"
        id="user-input"
        placeholder="Message PortfolioGPT"
      ></textarea>
      <input type="hidden" id="username" value="{{ profile.user }}" />
      <div class="spinner-container">
        <div class="spinner" id="loading-spinner"></div>
      </div>
      {% block url %} {% endblock %}
      <button id="input-button">
        <img
          id="input-button-img"
          src="{% static 'chat/images/send_button.png' %}"
          alt="Send"
        />
      </button>
    </div>
  </div>
</div>
