{% extends 'chat/base_chat.html' %} {% load static language_colors %}

<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'chat/js/script.js' %}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block title %}Your Projects{% endblock %}

{% block buttons %}
<div class="project-buttons private">
  <a href="{% url 'select_projects' %}">
    <button class="button edit-button">Edit</button>
  </a>
  <a href="{% url 'sync_projects' %}">
    <button class="button sync-button">Sync</button>
  </a>
  <a href="{% url 'public_projects' profile.user %}">
    <button class="button view-button">View</button>
  </a>
  <a href="{% url 'user_resume_chat' %}">
    <button class="button resume-link">Resume</button>
  </a>
  <a href="{% url 'user_projects' %}">
    <button class="button project-link">Back</button>
  </a>
</div>
{% endblock %}
